name: Deploy to Google Cloud Run

on:
  # Trigger the workflow on pushes to the main branch
  push:
    branches:
      - main

env:
  PROJECT_ID: fresh-analyst-478219-u2
  GAR_LOCATION: us-central1 
  SERVICE_NAME: brain-tumor-segmentation

jobs:
  deploy:
    name: Build and Deploy
    runs-on: ubuntu-latest
    
    # Add "id-token" with the intended permissions.
    permissions:
      contents: 'read'
      id-token: 'write'

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Authenticate to Google Cloud
        id: auth
        uses: 'google-github-actions/auth@v1'
        with:
          workload_identity_provider: 'projects/489881509776/locations/global/workloadIdentityPools/github-pool1/providers/github-provider'
          service_account: 'github-actions-sa@fresh-analyst-478219-u2.iam.gserviceaccount.com'

      - name: Set up Cloud SDK
        uses: 'google-github-actions/setup-gcloud@v1'

      - name: Configure Docker
        run: gcloud auth configure-docker ${{ env.GAR_LOCATION }}-docker.pkg.dev

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: ${{ env.GAR_LOCATION }}-docker.pkg.dev/${{ env.PROJECT_ID }}/${{ env.SERVICE_NAME }}/${{ env.SERVICE_NAME }}:${{ github.sha }}
          # Pass the Hugging Face token as a Docker build secret
          secrets: |
            hugging_face_token=${{ secrets.gcp_bts_app }}

      - name: Deploy to Cloud Run
        uses: 'google-github-actions/deploy-cloudrun@v1'
        with:
          service: ${{ env.SERVICE_NAME }}
          region: ${{ env.GAR_LOCATION }}
          image: ${{ env.GAR_LOCATION }}-docker.pkg.dev/${{ env.PROJECT_ID }}/${{ env.SERVICE_NAME }}/${{ env.SERVICE_NAME }}:${{ github.sha }}
          flags: '--allow-unauthenticated --memory=2Gi'
          # Pass the Hugging Face token as an environment variable (for runtime, if needed elsewhere)
          env_vars: |
            HUGGING_FACE_HUB_TOKEN=${{ secrets.gcp_bts_app }}
